.accordeonWrapper {
  .accordeon {
    background-color: #fff;
    padding: 24px;
    border: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    img {
      transition: transform 0.2s ease;
    }
    .active {
      transform: rotateZ(180deg);
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }
  }
  .text {
    background-color: #fff;
    padding: 0 24px;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
    p {
      margin-bottom: 24px;
    }
  }
}
