.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px 0;
  .labelName {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .label {
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #e1e3e6;
    width: 100%;
    cursor: text;
    .input {
      border: none;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      &::placeholder {
        color: #999fa6;
        transition: color 0.2s ease;
      }
      &:focus {
        outline: none;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}
