.selectWrapper {
  .name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 4px;
    display: inline-block;
  }
  .btn {
    background-color: #fff;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 7px;
    border: 1px solid #e1e3e6;
    border-radius: 8px;
    width: 100%;
    transition: border 0.2s ease;
    img {
      transition: transform 0.2s ease;
    }
    cursor: pointer;
    &.active {
      border: 1px solid #ff5500;
      img {
        transform: rotateZ(180deg);
      }
    }
    .title {
      font-size: 14px;
      line-height: 20px;
      color: #999fa6;
    }
  }
}

.optionsContainer {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 0 0 8px 8px;
  .option {
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 8px;
    outline: 1px solid transparent;
    transition: outline 0.1s ease;
    &:hover {
      outline: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
  }
}
