.header {
  background-color: #333;
  padding: 25px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  .logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
  }
  .cartBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    .cartBtn {
      background-color: transparent;
      border: none;
      height: 32px;
      svg path {
        fill: #fff;
        transition: fill 0.2s ease;
      }
      &:hover {
        svg path {
          fill: #ff5500;
        }
      }
    }
  }
}
