.footer {
  background-color: #333;
  padding: 25px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .link {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
  }
}
